<div class="card">
    <div class="card-body">
        <h3>Welcome to the Library</h3>
        <hr>
        <section style="justify-content: space-between; align-items: center; display: flex;">
            | &nbsp;
            <button class="btn btn-secondary" routerLink="allbooks">All Books</button> &nbsp; | &nbsp;
            <button class="btn btn-secondary" routerLink="addbook">Add New Books</button> &nbsp; | &nbsp;
            <button class="btn btn-secondary" routerLink="search">Search Book</button> &nbsp; | &nbsp;
        </section>
    </div>
</div>